@charset "utf-8";

/*========= 背景動画設定のCSS ===============*/
*{
    margin: 0px;
    padding: 0px;
}
/*header設定*/
#header{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 
body {
    background-image: url("photo/wallet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

h1{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    font-size: 80px;
    top: 20%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    /*見た目の調整*/
    color:#ffffff;
    text-shadow: 0 0 20px #666;
}
h2{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    font-size: 40px;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    /*見た目の調整*/
    color:#fbff00;
    text-shadow: 0 0 20px #666;
}
.choice{
  position: absolute;
  top: 45%;
}
/* 目次全体 */
.mokuji {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    width: 40%;
    border: solid 1px #aaa;
    border-radius: 15px;
    padding: 15px;
  }
  
  /* 目次の見出し */
  .mokuji-midashi {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
  }
  
  /* レスポンシブデザイン（スマホ用） */
  @media (max-width: 560px) {
    .mokuji {
      padding: 10px 5px;
      margin: 5px 1%;
    }
    .mokuji-midashi {
      font-size: 13px;
    }
  }
.class2{
    position: absolute;
    top:1000px;
    left:400px;
}
.center{
  text-align: center;
  padding: 15px;
}
.btn{
  /*影の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
text-decoration: none;
display: inline-block;
width: 500px; /* 幅を指定 */
    height: 20px; /* 高さを指定 */
  text-align: center;
  background: transparent;
border-radius: 25px;
border: solid 1px #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn:hover{
border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn span {
position: relative;
z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
display: block;
  padding: 10px 30px;
background:#fff;
border-radius: 25px;
color:#333;
  /*アニメーションの指定*/
  transition: all 0.3s ease;
}

/*== 右下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushright:before {
  content: "";
  /*絶対配置で影の位置を決める*/
  position: absolute;
z-index: -1;
  top: 4px;
  left: 4px;
  /*影の形状*/
  width: 100%;
  height: 100%;
border-radius: 25px;
  background-color: #333;
}

/*hoverの際にX・Y軸に4pxずらす*/
.pushright:hover span {
background-color: #333;
color: #fff;
transform: translate(4px, 4px);
}
h4{
  color:#fbff00;
}
.Coincheck{
  margin: 20px;
}
h5{
  margin-top: 70px;
}
h6{
  color:#fbff00;
}
.Bybit{
  margin: 20px;
}
