@charset "utf-8";

/*========= 背景動画設定のCSS ===============*/
/*header設定*/
*{
  margin: 0px;
  padding: 0px;
}
#header{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 
body {
  background-image: url("photo/wallet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    height: 80%;
    text-align: center;
}
  .fullheight {
    height: 80%;
  }
  
h1{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    /*見た目の調整*/
    color:#ffffff;
    text-shadow: 0 0 20px #666;
}
#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
top:0;
  right: -120%;
width:100%;
  height: 100vh;/*ナビの高さ*/
background:#999;
  /*動き*/
transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
  text-align: center;
}
#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
top:10px;
right: 10px;
cursor: pointer;
  width: 50px;
  height:50px;
}

/*×に変化*/  
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
top:15px; 
}

.openbtn span:nth-of-type(2) {
top:23px;
}

.openbtn span:nth-of-type(3) {
top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.slant-bg {
  width: 100%;
  margin: 0;
  padding: 100px 0;
  position: relative;
  top: 200px;
}

.slant-bg p {
  width: 65%;
  margin: 0 auto;
}

.slant-bg::before {
  content: '';
  position: absolute;
  border-top: 5px solid #ffffff; /* 線のスタイルを設定 */
  border-bottom: 5px solid #ffffff; /* 線のスタイルを設定 */ ;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: -1;
}
h2{
  /*要素の配置*/
  position:absolute;
  /*要素を天地中央寄せ*/
  font-size: 40px;
  top: 60px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) ;
  /*見た目の調整*/
  color:#fff;
  text-shadow: 0 0 20px #666;
}
p1{
  position:absolute;
  top: 100px;
  left: 42%;
  font-size:x-large;
  color: #fff;
  text-align: center;
}
p2{
  position:absolute;
  top: 410px;
  left: 46%;
  font-size:x-large;
  color: #fff;
  text-align: center;
}
.point{
  position:absolute;
  top: 18%;
  text-align: center;
}

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
    top: 230px;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.4);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(0.6);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position: absolute;/*絶対配置にする*/
    left: 48%;
    top: 580px;
	margin:5px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 300px auto 0; /* 上の余白を設定 */
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
  background-color: rgba(255,105,212,0.5);
border: 1px solid #ccc;
}
h3{
  color:#ffffff;
}
/*アコーディオンタイトル*/
.title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  
}
.title::before{
  top:48%;
  left: 15px;
  transform: rotate(0deg);
  
}
.title::after{    
  top:48%;
  left: 15px;
  transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
transform: rotate(45deg);
}

.title.close::after{
transform: rotate(-45deg);
}
/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: rgba(0,0,0,.5);
margin:0 3% 3% 3%;
  padding: 3%;
}
p{
  margin-top: 2%;
  color:#ffffff;
}
.table1 { 
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #ffffff;
}

.th {
  border: 1px solid #ffffff;
  background: #ffbb1e;
  padding: 20px;
}

.td {
  background: #272727;
  border: 1px solid #ffffff;
  color: #fff;
  padding: 20px;
}

.btntextchange{
  /*テキストの基点とするためrelativeを指定*/
position: relative;
  /*ボタンの形状*/
border: 1px solid #9dff00;
border-radius:25px;
  min-width:210px;
padding: 20px;
  text-align: center;
display: inline-block;
  text-decoration: none;
  color: #ffffff;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s;
}

/*hoverした際の変化*/
.btntextchange:hover{
background:#333;
color:#fff;
}

.btntextchange span{
  /*絶対配置でテキストの位置を決める*/
position: absolute;
left: 50%;
top:50%;
  transform:translate(-50%,-50%);
  /*アニメーションの指定*/
  transition: all .5s;
/*ブロック要素にしてテキスト折り返しなし*/  
display: block;
white-space: nowrap;
}

/*差し替わるテキストの設定*/
.btntextchange span:nth-child(2){
opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.btntextchange:hover span:nth-child(1){
opacity:0;/*透過0に*/
}

.btntextchange:hover span:nth-child(2){
opacity:1;/*不透明に*/
}

/*========= レイアウトのためのCSS ===============*/
